Flask==3.0.3
gunicorn==21.2.0

# Image processing
Pillow==9.5.0

# TFLite (SEM TensorFlow)
numpy==1.23.5
tflite-runtime==2.14.0

# Firebase (versão compatível com Render - sem grpcio)
firebase-admin==5.3.0

# Utilitários
protobuf==4.25.3
requests==2.31.0
google-cloud-storage==2.7.0
google-resumable-media==2.4.1
google-auth==2.22.0











